{% extends 'main/layout.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<main class="main_about">
    <section class="t_about">
        <div class="container">
            <div class="t_about__inner">
                <div class="t_about__content">
                        <div class="t_about__content-item">
                            <div class="t_about__content-title">
                                <h1>О Нас</h1>
                            </div>
                            <div class="t_about__content-text-y">
                                <p>
                                    Рекламно-производственная компания «НОВАЯ РЕКЛАМА» более 15 лет осуществляет комплекс работ по проектированию и изготовлению наружной рекламы на территории Украины.
                                </p>
                            </div>
                            <div class="t_about__content-text-y">
                                <p>
                                    Наши услуги включают производство и монтаж  наружной рекламы:
                                </p>
                                <p>
                                    Лайтбоксы, световые объемные буквы,  крышные установки, рекламные стелы (пилоны), неоновые вывески, штендеры, панель-кронштейны, брендирование автомобилей, оформление витрин и окон, аппликация пленкой, комплексное оформление фасадов и интерьеров.
                                </p>
                            </div>
                            <div class="t_about__content-text-b">
                                <p>
                                    Также наша компания осуществляет сопровождение выполненного заказа: сервисное и гарантийное обслуживание, ремонт и реконструкцию наружной рекламы.
                                </p>
                            </div>
                            <div class="t_about__content-text-b">
                                <p>
                                    Мы работаем по разумным и конкурентоспособным ценам. Для постоянных клиентов, сетевых магазинов, а также при заказе на изготовление комплекса рекламы действует гибкая система скидок.
                                </p>
                            </div>
                            <div class="t_about__content-text-b">
                                <p>
                                    Благодаря собственному производству, качественно и быстро изготовим любой вид наружной рекламы, начиная с проектно-дизайнерских работ заканчивая монтажом. Мы всегда используем современные конструкционные материалы, светотехнику и поэтому  даём гарантию на вывеску до 2х лет!
                                </p>
                            </div>

                        </div>
                </div>
            </div>
        </div>
    </section>
    <section class="m_about">
        <div class="container">
            <div class="t_about__content-text_5">
                <p>
                    Найти нас можно:
                </p>
            </div>
        </div>
            <div class="m_about__maps">
                <div class="m_about__maps-google">
                    <div class="map" id="map">
                    </div>
                </div>
            </div>
    </section>
    <section class="b_about">
        <div class="container">
            <div class="b_about__content-text">
                <p>
                    Или свяжитесь с нами удобным для Вас способом:
                </p>
            </div>
        </div>
    </section>
</main>
{% endblock %}
