{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <title>{% block title %}{% endblock %}</title>

    <meta name="keywords" content="Наружная реклама Днепр, изготовление вывески, баннеры, дизайн, логотип, 3d реклама, лайтбоксы, световое короба, неоновые буквы, крышные установки, подсветка.">
    <meta name="description" content="Мы изготовим вывеску любого формата и сложности. Бесплатный выезд на замеры по Днепру. Предоставляем до 2-х лет гарантии. Звоните ☎ (067)722-16-72" />

    <link href="{% static 'main/img/kn/favicon.ico' %}" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@400;600&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main_home.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main_portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main_service.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/main_about.css' %}">
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="header__inner">
                    <a class="logo" href="{% url 'home' %}">
                        <img src="../static/main/img/logos.jpg" alt="logo" width="400">
                    </a>
                    <nav class="menu">
                        <ul class="menu__list">
                            <li class="menu__list-item">
                                <a class="menu__list-link" href="{% url 'portfolio' %}">Наши работы</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link" href="{% url 'service' %}">Продукция</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link" href="{% url 'about' %}">О нас</a>
                            </li>
                            <li class="menu__list-item">
                                <a class="menu__list-link" href="tel:+380677221672">+38(067)722-16-72</a>
                            </li>
                        </ul>
                    </nav>
                    <button class="header__btn-menu header__btn-menu-x">
                        <span>bttn</span>
                    </button>
                </div>
            </div>
        </header>
        <main class="content">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="footer">
            <div class="footer__content">
                <div class="container">
                    <div class="footer__inner">
                        <div class="footer__info">
                            <h2 class="footer__info-title">
                                Контакты
                            </h2>
                        </div>
                        <ul class="footer__social">
                            <li class="footer__social-item">
                                <a class="footer__info-email" href="mailto:info@novareklama.dp.ua">info@novareklama.dp.ua</a>
                            </li>
                            <li class="footer__social-item">
                                <div class="social-item">
                                    <a class="footer__social-link" href="tel:+380677221672">+38 (067) 722 16 72</a>
                                    <ul class="footer__items">
                                        <li class="footer__social-items">
                                            <a class="footer__social-links" href="tg://resolve?domain=login">
                                                <img class="footer__social-imgs" src="../static/main/img/kn/telegram.png" alt="">
                                            </a>
                                        </li>
                                        <li class="footer__social-items">
                                            <a class="footer__social-links" href="viber://chat?number=%2B380677221672">
                                                <img class="footer__social-imgs" src="../static/main/img/kn/viber.png" alt="">
                                            </a>
                                        </li>
                                        <li class="footer__social-items">
                                            <a class="footer__social-links" href="https://wa.me/380677221672">
                                                <img class="footer__social-imgs" src="../static/main/img/kn/whatsapp.png" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__copyright">
                <p class="footer__copyright-text">© 2021 Новая реклама™</p>
            </div>
        </footer>
    </div>
    <!--- Подключение jQuery --->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--- Подключение слайдер --->
    <script src="../static/main/js/slick.min.js"></script>
    <!--- Подключение файлов скриптов --->
    <script src="../static/main/js/script.js"></script>
    <script src="../static/main/js/mixitup.min.js"></script>
    <script src="../static/main/js/GoogleMaps.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>
</body>
</html>
