{% extends 'main/layout.html' %}

{% block title %}Наши работы{% endblock %}

{% block content %}
<div class="gallery">
    <div class="gallery__top-text">
        <h2>Наши работы</h2>
    </div>
    <div class="portfolio">
        <div class="container">
            <div class="portfolio__inner">
                <div class="gallery__inner-content">
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/1.jpg" alt="">
                    </div>

                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/2.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/3.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/4.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/5.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/6.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/7.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/8.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/9.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/10.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/11.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/12.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/13.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/14.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/15.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/16.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/17.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/18.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/19.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/20.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/21.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/22.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/23.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/24.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/25.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/26.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/27.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/28.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/29.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/30.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/31.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/32.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/33.jpg" alt="">
                    </div>
                    <div class="portfolio__product-content">
                        <img class="portfolio__product-img" src="../static/main/img/portfolio/34.jpg" alt="">
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}