{% extends 'main/layout.html' %}

{% block title %}Продукция{% endblock %}

{% block content %}
<div class="main_service">
    <div class="t_service">
        <div class="container">
            <div class="t_service__inner">
                <div class="t_service__title">
                    <div class="t_service__titlefont">
                        <h2>Наружная реклама</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service">
        <div class="container">
            <div class="service__inner">
                <div class="service__buttons">
                    <button class="service__btn" id="bukvy" data-filter=".bukv">Объемные буквы</button>
                    <button class="service__btn" id="vuves" data-filter=".vuves">Вывески</button>
                    <button class="service__btn" id="light" data-filter=".light">Лайтбоксы</button>
                    <button class="service__btn" id="krush" data-filter=".krush">Крышные установки</button>
                    <button class="service__btn" id="stand" data-filter=".stand">Стенды</button>
                    <button class="service__btn" id="tabl" data-filter=".tabl">Таблички и указатели</button>
                </div>
                <div class="gallery__inner">
                    <div class="service__items mix bukv">
                        <div class="service__content">
                            <div class="service__content-img">
                                <a  class="t_service__image" href="">
                                    <img class="t_service__image-img" src="../static/main/img/product/product_page/bukv.jpg" alt="">
                                </a>
                            </div>
                            <div class="t_service__text">
                                <p><h2 class="pad">Объёмные буквы</h2>это разновидность рекламных вывесок. Выполняются из отдельных элементов</p>
                                <p>Наружная реклама немыслима без изготовления объемных букв, ведь этот элемент - один из важнейших в ней.</p>
                                <p>Светодиодные буквы привлекают внимание всегда и везде. Они особенно выделяются в темное время суток.</p>
                            </div>
                        </div>

                    </div>
                    <div class="service__items mix vuves">
                        <div class="service__content">
                            <div class="service__content-img">
                                <a href="" class="t_service__image">
                                    <img class="t_service__image-imgb" src="../static/main/img/product/product_page/b1.jpg" alt="">
                                </a>
                                <a href="" class="t_service__image">
                                    <img class="t_service__image-imgb" src="../static/main/img/product/product_page/b2.jpg" alt="">
                                </a>
                                <a href="" class="t_service__image">
                                    <img class="t_service__image-imgb" src="../static/main/img/product/product_page/b3.jpg" alt="">
                                </a>
                            </div>
                            <div class="t_service__text">
                                <p><h2 class="pad">Закрытые</h2>Лицевая часть – акриловое светорассеивающее цветное стекло. Боковины и подложка – пластик ПВХ . В качестве внутренней подсветки применяются светодиоды или неоновые лампы.</p>
                                <div class="service__content-img">
                                    <a href="" class="t_service__image">
                                        <img class="t_service__img-h" src="../static/main/img/product/product_page/b1.jpg" alt="">
                                    </a>
                                </div>
                                <p><h2 class="pad">Светодиодные</h2>Или с «открытым неоном» представляют собой несветовой корпус на лиуевой поверхности которого располагаются неоновые трубки или светодиоды.</p>
                                <div class="service__content-img">
                                    <a href="" class="t_service__image">
                                        <img class="t_service__img-h" src="../static/main/img/product/product_page/b2.jpg" alt="">
                                    </a>
                                </div>
                                <p><h2 class="pad">Контр-ажурные</h2>При изготовлении данного типа рекламных вывесок источник света (светодиоды либо неоновые трубки) располагают за надписью. Таким образом, получается затемненный элемент, окруженный ярким, так называемым  ореолом.</p>
                                <div class="service__content-img">
                                    <a href="" class="t_service__image">
                                        <img class="t_service__img-h" src="../static/main/img/product/product_page/b3.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="service__items mix light">
                        <div class="service__content">
                            <div class="service__content-img">
                                <a href="" class="t_service__image">
                                    <img class="t_service__image-img" src="../static/main/img/product/product_page/l1.jpg" alt="">
                                </a>
                            </div>
                            <div class="t_service__text">
                                <p><h2 class="pad">Лайтбокс</h2>Короб с внутренней подсветкой. Световые вывески обычно являются составной частью комплексного оформления фасада здания.</p>
                                <p>Наружная реклама данного вида представляет собой объемно-пространственную металлоконструкцию, обшитую по бокам композитным материалом либо пластиком ПВХ.</p>
                                <p>Для изготовления лицевой поверхности вывески применяется транслюцентный баннер с печатью либо светорассеивающий пластик (акрил, сотовый поликарбонат), на который нанесено изображение.</p>
                                <p>В качестве задней поверхности наружной рекламы может использоваться ПВХ, оцинкованный или алюминиевый лист.</p>
                                <p>Стандартная толщина одностороннего лайтбокса равна 180 мм, двустороннего – 200 мм. В настоящее время возможно изготовление наружной рекламы с толщиной листа 50 мм (односторонний короб) и 70 мм (двусторонний короб).</p>
                                <p>Внутренняя подсветка вывески осуществляется за счет светодиодов, люминесцентных или неоновых ламп.</p>
                            </div>
                        </div>
                        <div class="b_service__content">

                        </div>
                    </div>
                    <div class="service__items mix krush">
                        <div class="service__content">
                            <div class="service__content-img">
                                <a href="" class="t_service__image">
                                    <img class="t_service__image-img" src="../static/main/img/product/product_page/krush.jpg" alt="">
                                </a>
                            </div>
                            <div class="t_service__text">
                                <p><h2 class="pad">Накрышная установка</h2>Наружная реклама больших габаритов может быть установлена на крышах и выступах зданий при помощи мощного металлокаркаса.</p>
                                <p>Для придания устойчивости на каркас монтируются бетонные блоки.</p>
                                <p>Перед началом изготовления разрабатывается дизайн-проект, где отражено принципиальное устройство наружной рекламы.</p>
                                <p>Затем составляется проектная документация, где указывается вид и способ крепления каркаса, тип используемого металлического профиля, расчет веса, силовых и ветровых нагрузок.</p>
                                <p>Может подсвечиваться не только изнутри, но и снаружи.</p>
                            </div>
                        </div>

                    </div>
                    <div class="service__items mix stand">
                        <div class="service__content">
                            <div class="service__content-img">
                                <a href="" class="t_service__image">
                                    <img class="t_service__image-imgs" src="../static/main/img/product/product_page/s1.jpg" alt="">
                                </a>
                                <a href="" class="t_service__image">
                                    <img class="t_service__image-imgs" src="../static/main/img/product/product_page/s2.jpg" alt="">
                                </a>
                            </div>
                            <div class="t_service__text">
                                <p><h2 class="pad">Стенды</h2>Наша компания предлагает услуги по изготовлению стендов как стандартных, так и нестандартных форм и размеров.</p>
                                <p>Вы всегда можете обсудить с нашими специалистами нюансы оформления стенда.</p>
                                <p>Эффективный выставочный стенд или наружная реклама – это составляющие узнаваемости вашего бренда среди разнообразия конкурентов.</p>
                                <p>Таким образом, мы поможем вам увеличить вашу прибыль путем привлечения новых клиентов – с помощью индивидуально разработанных и профессионально выполненных стендов.</p>
                                <p>Мы предлагаем:</p>
                                <h3>Информационные стенды</h3>
                                <h3>Рекламные стенды</h3>
                                <h3>Торговые стенды</h3>
                                <h3>Выставочные стенды</h3>
                                <h3>Промо-стенды</h3>
                                <h3>Навигационные стенды</h3>

                            </div>
                        </div>

                    </div>
                    <div class="service__items mix tabl">
                        <div class="service__content">
                            <div class="service__content-img">
                                <a href="" class="t_service__image">
                                    <img class="t_service__image-img" src="" alt="">
                                </a>
                            </div>
                            <div class="t_service__text">
                                <p><h2 class="pad">Таблички</h2>это элементы наружной и внутренней рекламы, которые нужны для донесения окружающим людям той или иной информации.</p>
                                <p>Они принимают непосредственное участие в формировании первичного впечатления о компании.</p>
                                <p>Немаловажной функцией представленной продукции также является организация рабочего пространства.</p>
                                <p>Изготовление табличек на дом с указанием адреса наиболее востребованная у наших клиентов.</p>
                                <p>Изделия рекламного характера – POS-материалы для размещения на прилавках, на входах в офисные центры;</p>
                            </div>
                            <div class="b_service__content">
                                <p><h2 class="pad">Указатели</h2>В незнакомом месте человеку нередко становится трудно сориентироваться в обстановке и быстро найти пункт назначения.</p>
                                <p>И здесь на помощь приходят простые и понятные таблички и указатели, которые обеспечивают направление посетителей туда, куда им нужно.</p>
                                <p>Совокупность таких изделий формирует комплексную систему навигации офиса, торгового/развлекательного центра или любого другого объекта.</p>
                                <p>При этом особо эффективными они становятся в случае изготовления с соблюдением единого корпоративного стиля.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}